@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Yeseva+One&display=swap');

$headerfont: 'Yeseva One';
$font: 'Josefin Sans';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font, sans-serif;
  background-color: #f9f9f9;
  color: #444;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  h1 {
    font-family: $headerfont, serif;
    font-size: 2.5rem;
    margin: 0;
    font-weight: 700;
  }
}

main {
  flex: 1;
  padding: 2rem;
  display: flex;
  justify-content: center;

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0.5rem 0;
    font-size: 1.1rem;
    line-height: 1.6;
    object-fit: cover;
    border-radius: 1.125rem;
    padding: 1.25rem;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 16 / 9; 
    transition: 
      backdrop-filter 0.5s ease-in-out, 
      transform 0.3s ease-in-out,
      box-shadow 0.5s ease-in-out,
      border-color 0.7s ease-in-out,
      background-color 0.7s ease-in-out;
    position: relative;
    overflow: hidden;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2); 
      transition: 
        background 0.5s ease-in-out,
        backdrop-filter 0.5s ease-in-out; 
      border-radius: inherit;
      backdrop-filter: blur(10px);
    }
  
    h4 {
      font-family: $headerfont, serif;
      color: #fff;
      z-index: 2;
      position: relative;
    }
  
    span {
      font-size: 0.85rem;
      font-weight: 500;
      color: #e0e0e0;
      z-index: 2;
      position: relative;
    }
  
    a {
      color: #ffd700;
      text-decoration: none;
      transition: color 0.3s ease-in-out;
  
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  
    &:hover {
      transform: translateY(-0.5rem);
      backdrop-filter: blur(20px);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
      
      &::before {
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(20px); 
      }
    }
  }
  
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);

  p {
    margin: 0;
    font-size: 0.9rem;
  }
}
